h1 {
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.familiatexto {
    font-family: "papyrus";
    font-size: 15px;
    color: #3349FF;
    text-align: justifity;
}

fondoprincipal {
    background-color: red;
}

.tituloprincipal {
    background-color: chocolate;
}

.titulopagina1 {
    background-color: blue;
}

.imagenfondo {
    background-image: url(img/17336571_303.jpg);
    height: 600px;
    background-attachment: fixed;
}

.textorojo {
    color: red
}